.mat {
background-color: MediumSeaGreen;
  width: 70vw;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
}