.sideBar {
    background-color: rgb(42, 50, 58);
    width: 20vw;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    margin-right: 1vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}